<h2>Add a Movie</h2>

<form method="post" action="/Movie/Add">
    <label>Title:</label><br/>
    <input type="text" name="Title" required /><br/><br/>

    <label>Year:</label><br/>
    <input type="number" name="Year" required /><br/><br/>

    <label>Genre:</label><br/>
    <input type="text" name="Genre" required /><br/><br/>

    <button type="submit">Add Movie</button>
</form>